.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: -15px;

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        margin: 0;
    } 
}

.customers-list__item {
    @media screen and (max-width: 767px) {
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2);
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
        width: calc((100% - 3 * 30px) / 3);
    }
    
}

.customers-list__icon {
    fill: currentColor;
}

.customers-list__link {
    @include centeredFlex();

    height: 92px;
    @media screen and (min-width: 1200px) {
        width: 170px;
    }

    color: $primary-icon-color;
    fill: currentColor;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color $transition,
                border $transition,
                border-radius $transition;

    &:hover,
    &:focus {
            border: 1px solid $primary-blue-color;
            border-radius: 4px;
            color: $primary-blue-color;
        }
}