.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        max-width: 738px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.container--position {
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 60px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        gap: 60px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}