.features {
    display: flex;

    &__item:not(:first-child) {
        margin-left: 30px;
    }
}

.features__bg {
    @include centeredFlex();
    margin-bottom: 30px;
    
    height: 120px;
    width: 270px;
    
    background-color: #F5F4FA;
    border-radius: 4px;
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    
    margin-bottom: 10px;
    
    color: $primary-black-color;
}

.features__text {
    line-height: 1.7;
}