.footer-aside {
    &__item:not(:first-child) {
        margin-top: 9px;
    }
}

.footer-aside__address {
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    
    color: $primary-white-color;
}

.footer-aside__contacts {
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.6);
    
    transition: color $transition;

    &:hover,
    &:focus {
        color: $primary-blue-color;
    }
}

    
