.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.165;
    letter-spacing: 0.03em;
    
    color: $primary-black-color;
    
    text-align: center;
    margin-bottom: 50px;
}

.section--no-padding-top {
    padding-top: 0;
}

.section--gray-background {
     background-color: #F5F4FA;
 }