.footer {
    background: #2F303A;
}

.footer--position {
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-contacts {
    @media screen and (min-width: 1200px) {
        flex-grow: 1;
    }
}