.footer-social-links {
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        margin-right: 93px;
        margin-bottom: 0;
    }
}

.footer-social-links__title {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    
    margin-bottom: 20px;
    
    color: $primary-white-color;
}

.footer-links {
    @include centeredFlex();
}

.footer-links__item {
    @include centeredFlex();
    padding: 0;

    &:not(:first-child) {
        margin-left: 10px;
    }
}

.footer-links__link {
    @include centeredFlex();

    width: 44px;
    height: 44px;
    
    background-color: rgba(255, 255, 255, 0.1);
    color: $primary-white-color;
    fill: currentColor;
    border-radius: 50%;
    
    transition: color $transition,
                background-color $transition;

    &:hover,
    &:focus {
            background-color: $primary-blue-color;
            color: $primary-white-color;
        }
}

.footer-links__icon {
    fill: currentColor;
}