.nav-contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
    }

    &__item:not(:last-child) {
        @media screen and (max-width: 1199px) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
    }
}

.nav-contacts__item {
    &:not(:first-child) {
        @media screen and (min-width: 1200px) {
            margin-left: 50px;
        }
    }
}
    
.nav-contacts__link {
    @media screen and (min-width: 1200px) {
        @include centeredFlex();
    }
    
    fill: currentColor;
    color: $primary-text-color;
    
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    transition: color $transition;

    &:hover,
    &:focus {
        color: $primary-blue-color;
    }

    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.17;
    }
}

.nav-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    
    @media screen and (max-width: 1199px) {
        width: 18px;
        height: 16px;

        margin-right: 8px;
    }
}