.nav-contacts {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.nav-contacts__item {
    &:not(:first-child) {
        margin-left: 50px;
    }
}
    
.nav-contacts__link {
    @include centeredFlex();
    
    fill: currentColor;
    color: $primary-text-color;
    
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    transition: color $transition;

    &:hover,
    &:focus {
        color: $primary-blue-color;
    }
}

.nav-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}